@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
     <div class="text-end">
         <a class="btn btn-light" asp-area="identity" asp-page="/account/register">Register</a>
          <a class="btn btn-warning" asp-area="identity" asp-page="/account/login">Login</a>
          @*<button type="button" class="btn btn-light text-dark me-2" asp-area="Identity" asp-page="/Account/Register">Login</button>
          <button type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Sign-up</button>*@
        </div>

  @*  <li class="nav-item">

        <a class="btn btn-primary" asp-area="identity" asp-page="/account/register">register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" asp-area="identity" asp-page="/account/login">login</a>
    </li>*@
}

