

<div class="px-3 py-2 border-bottom mb-3">

    <div class="container">
        <div class="row">
            <form class="col-8 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </div>
</div>