

<div class="px-3 py-2 border-bottom mb-3">

    <div class="container">
        <div class="row">
            <div class="col-3 dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown"
                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    DropDown
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">Action</button></li>
                    <li><button class="dropdown-item" type="button">Another action</button></li>
                    <li><button class="dropdown-item" type="button">Something else here</button></li>
                </ul>
            </div>
            <form class="col-9 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="col-3">
            <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</div>






