

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Hello, how can we help you!</h1>
        <form role="search" class="search search--full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search"></form>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            
            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
           
            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
           <div class="col-md-4">
           
            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
           <div class="col-md-4">

            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
           <div class="col-md-4">
           
            <p><a class="btn btn-outline-success btn-lg btn-block" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

<!-- Block level -->

